:root {
  --gray: rgba(30, 30, 30, 1);
  --light-gray: rgba(130, 130, 130, 1);
  --border-gray: rgba(225, 225, 225, 1);
  --input-gray: rgba(200, 200, 200, 1);
  --background-gray: rgba(242, 242, 242, 1);
  --background: white;
  --text: var(--gray);
  color: var(--gray);
}
