@font-face {
    font-family: "Graphik Web";
    src: url("../assets/fonts/Graphik-Regular-Web.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: "Graphik Web";
    src: url("../assets/fonts/Graphik-Medium-Web.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pitch Sans Web";
    src: url("../assets/fonts/PitchSansWeb-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

/* @import url("https://fonts.googleapis.com/css?family=Roboto+Mono:500"); */
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");

@import "./variables";
@import "./type";
