@import "../../styles/variables";

@media (min-width: $desktop) {
    .nav {
        header {
            flex-direction: row;

            nav {
                margin-left: auto;
            }
        }

        span.spacer {
            opacity: 0;
            padding: 0 0.25rem;
        }
    }
}
